*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  margin: 0;
  padding: 0 3em;
}

nav{
  margin: 0 auto;
  /* padding: 2em 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  /* increase height on scroll */
}
nav .nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav .nav-list > li {
  list-style: none;
}
nav .nav-list > li > a{
  display: inline-block;
  margin: 0 1em;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}