@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;700&family=Raleway:wght@500&display=swap');

body{
  margin: 0;
  padding: 0;
  color: #fff;
  background: linear-gradient(45deg, #1D1E2C, #1B1C30);
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
  width: 100%;
  height: 100%;
}